<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/resources/demos/style.css">

</head>
<body>

<div class="jumbotron">
      <div class="container">
        <h1>Transaction Approval</h1>
        <p> You have processed all approved transactions. <%= notice %></p>
      </div>
    </div>

<div class="container">




<!-- 

<% @transactions.each do |transaction| %>
  <% if transaction.status == "Approved" %>
  <%= number_to_currency (transaction.amount) %>
  <%= transaction.user.username %>
  <%= transaction.retailer.name %>
  <%= transaction.cause.name %>     
  <br>
  <br>   
  <% else %>
  <% end %>
<% end %>

 -->

<br>
<br>
<hr>
<%= link_to 'Home', "/" %> | 
<%= link_to 'Transaction Home', "/transactions" %> |  
<%= link_to 'New Transaction', new_transaction_path %> | 
<%= link_to 'Onboarding', "/onboarding" %> | <%= link_to 'Database Admin', "/admin" %>
<br>
</div>
<%= yield %>

</body>



</html>


