<div class="jumbotron">
      <div class="container">
        <h1>Account</h1>
        <p>You are editing user account <%= current_user.username %>. <%= notice %></p>
      </div>
    </div>
<div class="container">

<h4>UPDATE YOUR CONTACT INFORMATION</h4>


<%= form_for @user, layout: :basic do |f| %>
  <%= f.email_field :email %>
  <%= f.text_field :address %>
  <%= f.password_field :password %>
  <%= f.password_field :password_confirmation %>
  <%= f.password_field :current_password %>
  <%= f.submit 'Update Contact Information' %>
<% end %>


<hr>
<%= link_to "Back", :back %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>

</div>
