<div class="jumbotron">
      <div class="container">
        <h1>Account</h1>
        <p>You are editing user account <%= current_user.username %>. <%= notice %></p>
      </div>
    </div>
<div class="container">


<%= panel title: 'CONTACT & PAYMENT INFORMATION' do %>
<div class='panel-body'>
  <%= form_for @user, layout: :basic do |f| %>
  <%= f.email_field :email %>
  <%= f.email_field :paypalID %>
  <%= f.text_field :address %>
  <%= f.text_field :city %>
  <%= f.text_field :state %>
  <%= f.text_field :zip %>
  <%= f.phone_field :phone %>

  <%= f.submit 'Update' %>
  <% end %>

</div>
<% end %>



<%= panel title: 'CAUSE INFORMATION' do %>
<div class='panel-body'>
  <%= form_for @user, layout: :basic do |f| %>
    <%= f.select(:cause_id) do %>
      <%= options_from_collection_for_select(Cause.all, :id, :name, current_user.cause_id) %>
    <% end %>

  <%= f.submit 'Update' %>
  <% end %>
</div>


<% end %>

<hr>
<%= link_to "Back", :back %>

</div>
