<div class="jumbotron">
      <div class="container">
        <h1>Sign Up</h1>
        <p>You are signing up for a new Dig In Rewards account. <%= notice %></p>
      </div>
    </div>
<div class="container">
  <p>If you already have an account, go to your <%= link_to 'DASHBOARD', "/users" %></p>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div><br>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div><br>

  <div class="field">
    <%= f.label :paypalID %><br />
    <%= f.text_field :paypalID %>
  </div><br>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div><br>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div><br>

  <div class="field">
  <strong>Select a cause</strong><br />
  <%= f.select(:cause_id) do %><br />
  <%= options_from_collection_for_select(Cause.all, :id, :name) %>
  <% end %>
  <br>You can change this later.<br>
  If your preferred cause is not listed, they have not signed up.<br>
  Select one of the causes above and ask them to sign up at http://rewards.digin.club
  </div><br>

  <div class="actions">
    <%= f.submit "Sign Up" %>
  </div><br>

<% end %>
<br>
<hr>
Already have an account? <%= render "devise/shared/links" %><br>
</div>
