<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/resources/demos/style.css">

</head>
<body>

<div class="jumbotron">
      <div class="container">
        <h1>User Transactions</h1>
        <p>Viewing all transaction balances.</p>
      </div>
    </div>

<div class="container">
  <p><%= notice %></p>
  <p>PLEASE NOTE:  The goal is always have the user balance at $0.00.  If a balance is shown, a payment needs to be made to the user.</p>

<div class="table-responsive">
  <table class="table">
  <thead>
  <tr>
    <th>User ID</th>
    <th>User Name</th>
    <th>Deposits</th>
    <th>Withdrawls</th>
    <th>Balance</th>
    <th colspan="3"></th>
      </tr>
    </thead>
  <tbody>
  <% @user_balances.each do |item| %>
      <tr>
        <% id = item.user_id %>
        <% name = item.user.username %>
        <% total_credits = item.total_credits || 0 %>
        <% total_debits = item.total_debits || 0 %>
        <% balance = total_credits - total_debits %>
        <td><%= id %></td>
        <td><%= name %></td>
        <td><%= number_to_currency(total_credits) %></td>
        <td><%= number_to_currency(total_debits) %></td>
        <td><%= number_to_currency(balance) %></td>
    <% end %>
  </tr>
  </tbody>
</table>


</div>

<br>
<br>

<%= yield %>

</body>

<hr>
<%= link_to 'Home', "/" %> | 
<%= link_to 'Process Transactions', "/process_transactions/new" %> |
<%= link_to 'New User Transaction', new_user_transaction_path %> |
<%= link_to 'Database Admin', "/admin" %>
<br>

</div>

</html>