<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/resources/demos/style.css">

</head>
<body>

<div class="jumbotron">
      <div class="container">
        <h1>User Dashboard</h1>
        <p> Showing details about your user account.</p>
      </div>
    </div>

<div class="container">
<p><%= notice %></p>

<h4>DESCRIPTION OF PROGRAM</h4>
Dig In Rewards gives you cash back for your purchases while automatically donating to a cause of your choice.  The innovative program is designed to give consumers incentives for their loyalty to businesses, while supporting their favorite cause.</P>

<p>Retailers give a percentage of every transaction as cash back to our member and to our member's cause.<p>

<hr>

<H5>Have you recently made a purchase from one of our partners?</h5>
<p>If so, create a transaction below.  Fill in the details and take a picture of your receipt.  We'll do the rest for you.<p>
<p><a class="btn btn-primary btn-lg btn-block" href="/transactions/new" role="button">Create new transaction &raquo;</a></p>

<HR>
<% cause = Cause.find(current_user.cause_id) %>
You are logged in as:  <%= current_user.username %><br><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">CURRENT ACCOUNT BALANCE</h3>
  </div>
  <div class="panel-body">
    <p>This is the actual amount currently in your account (no balance is shown if it's currently at $0.00).  We will periodically send payments to you.  When we do, we will deduct the payment from your balance.  A note will be made in payment history below.</p>
    <b>BALANCE:  
    <% @user_balances.each do |item| %>
      <%= number_to_currency(item.total_balance) %>
    <% end %></b>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">PAYMENT HISTORY</h3>
  </div>
  <div class="panel-body">
  <p>Here is a list of cash payments deducted from your account.</p>
  <% @user_payments.each do |payment| %>
        <%= payment.date %>, <%= payment.memo %>, <%= number_to_currency(payment.debit_amount) %> <br>
      <% end %>

  <% payment_balance = 0 %>
    <% @user_payments.each do |payment| %>
      <% payment_balance = payment_balance + payment.debit_amount %>
      <% end %><br>
  <b>TOTAL: <%= number_to_currency(payment_balance) %></b>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">PURCHASE HISTORY</h3>
  </div>
  <div class="panel-body">
    <p>Purchase history shows all purchases entered.  After they are all approved, we will place your cash percentage into your account and they will remain in this view for your reference.</p>
    <% @user_transactions.each do |transaction| %>
      <%= transaction.transaction_date %>, <%= transaction.retailer.name %>, <%= number_to_currency(transaction.amount) %><br>
    <% end %><br>
  <b>TOTAL:   
    <% @transaction_totals.each do |transaction| %>
          <% total_transactions = transaction.total_transactions %>
          <%= number_to_currency(total_transactions) %>
      <% end %></b>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">DONATIONS</h3>
  </div>
  <div class="panel-body">
    <p>Based on your currently entered purchases, these are the causes that have received (or soon will receive) a donation.</p>
  <% @user_transactions.each do |transaction| %>
  <%= transaction.transaction_date %>, <%= transaction.cause.name %>, <%= number_to_currency (transaction.amount * transaction.cause_split) %><br>
  <% end %>

  <% donation_balance = 0 %>
  <% @user_transactions.each do |transaction| %>
    <% transaction_total = transaction.amount * transaction.cause_split
    donation_balance = donation_balance + transaction_total %>
    <% end %><br>
<b>TOTAL: <%= number_to_currency(donation_balance) %></b>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">CAUSE INFORMATION</h3>
  </div>
  <div class="panel-body">
    <p>You are currently signed up to donate to  <b>"<%= cause.name %>"</b> as your preferred cause.  If you would like to change your cause, update it in your USER PREFERENCES.<p>

    <P>LIST OF CURRENT CAUSES IN THE PROGRAM<p>

    <p>REQUEST TO ADD A CAUSE</P>
  </div>
</div>



<p>LIST OF CURRENT BUSINEESES IN THE PROGRAM<P>

<p>LINK TO WORDPRESS DIRECTORY</P>

<p>REQUEST TO ADD A BUSINESS</P>

<hr>

<p>RSS FEED OF RECENT NEWS</P>

<p>RSS FEED OF RECENTLY ADDED BUSINESSES</P>

<HR>

<p>INVITE SOMEONE TO JOIN</P>

</div>

<br>
<br>

<%= yield %>

</body>

<hr>

</html>