<!-- FACEBOOK PAGE LIKE SCRIPT -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=218440228241995";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="jumbotron">
          <div class="container">
            <h1>Dashboard</h1>
            <p> Welcome.</p>
          </div>
        </div>

<div class="container">
<p><%= notice %></p>

<%= nav do %>
  <%= link_to 'Home', users_path %>
  <%= link_to 'History', '/users/history' %>
  <%= link_to 'Profile', '/users/show' %>
  <p align="right"><%= icon :user %>  <%= current_user.username %></p>
<% end %> 
  
<br>

<h4>DESCRIPTION OF PROGRAM</h4>
Dig In Club Rewards gives you cash back for your purchases while automatically donating to a cause of your choice.  The innovative program is designed to give consumers incentives for their loyalty to businesses, while supporting their favorite cause.</P>

<p>Retailers give a percentage of every transaction as cash back to our member and to our member's cause.<p>

<p>Please take this opportunity to "like" our Facebook Page.  We update all of our program information there.<div class="fb-like" data-href="https://www.facebook.com/diginrewards/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div><p>

<hr>

<H5>Have you recently made a purchase from one of our partners?</h5>
<p>If so, create a transaction below.  Fill in the details and take a picture of your receipt.  We'll do the rest for you.<p>
<p><a class="btn btn-primary btn-lg btn-block" href="/transactions/new" role="button">Create new transaction &raquo;</a></p>

<% cause = Cause.find(current_user.cause_id) %>
<br>



<%= panel title: 'CAUSE INFORMATION' do %>
<div class='panel-body'>
  <p>You are currently signed up to donate to  <b>"<%= cause.name %>"</b> as your preferred cause.</p>

  <p>If you would like to change your cause, edit it in your <%= link_to 'User Profile', '/users/edit' %>.</p>

    <center>
        <a href="/users/cause_list" class="btn btn-primary" role="button">SHOW CAUSE LIST</a>
        <a href="https://docs.google.com/forms/d/1L-L6I8vGMk5IggpypaxQcYhYwKrxKmTmEx35ZwqNLo8/viewform" class="btn btn-primary" role="button" target="blank">REQUEST TO ADD A CAUSE</a>
    </center>
</div>
<% end %>




<%= panel title: 'BUSINESS PARTNER INFORMATION' do %>
<div class='panel-body'>
    <center>
    <p><a href="/users/retailer_list" class="btn btn-primary" role="button">LIST ALL BUSINESSES</a>
    <a href="http://goo.gl/forms/MXlBGhNCEl" class="btn btn-primary" role="button" target="blank">REQUEST TO ADD A BUSINESS</a>
    <a href="http://rewards.digin.club/index.php/business-directory/?action=search" class="btn btn-primary" role="button">SEARCH FOR BUSINESS INFORMATION</a></p>
    </center><br>
<% end %>
</div>




<%= panel title: 'FEATURED BUSINESS' do %>
<div class='panel-body'>

  <% @retailers.each do |retailer| %>
    <% if retailer.featured %>
      <h3><%= retailer.name %></h3>
      <h4><%= retailer.headline %></h4>
      <h5><%= retailer.address %><br>
          <%= retailer.city %>, <%= retailer.state %>  <%= retailer.zip %> <br>
      <a href="<%= retailer.web_address %>" target="blank"><%= retailer.web_address %></a></h5>
      <p><%= retailer.description %></P>
      <p><center><%= raw retailer.video_embed %></a></center></P>
    <% end %>
  <% end %>
      
<% end %>
</div>





<%= panel title: 'RECENT DIG IN CLUB REWARDS NEWS' do %>
<div class='panel-body'>
  <!-- start feedwind code --><script type="text/javascript">document.write('\x3Cscript type="text/javascript" src="' + ('https:' == document.location.protocol ? 'https://' : 'http://') + 'feed.mikle.com/js/rssmikle.js">\x3C/script>');</script><script type="text/javascript">(function() {var params = {rssmikle_url: "http://rewards.digin.club/?feed=rss2",rssmikle_frame_width: "400",rssmikle_frame_height: "400",frame_height_by_article: "0",rssmikle_target: "_blank",rssmikle_font: "Arial, Helvetica, sans-serif",rssmikle_font_size: "12",rssmikle_border: "on",responsive: "on",rssmikle_css_url: "",text_align: "left",text_align2: "left",corner: "off",scrollbar: "on",autoscroll: "on",scrolldirection: "up",scrollstep: "3",mcspeed: "20",sort: "Off",rssmikle_title: "off",rssmikle_title_sentence: "Dig In Rewards Recent News",rssmikle_title_link: "http://rewards.digin.club",rssmikle_title_bgcolor: "#FFFFFF",rssmikle_title_color: "#000000",rssmikle_title_bgimage: "",rssmikle_item_bgcolor: "#FFFFFF",rssmikle_item_bgimage: "",rssmikle_item_title_length: "55",rssmikle_item_title_color: "#0066FF",rssmikle_item_border_bottom: "on",rssmikle_item_description: "on",item_link: "off",rssmikle_item_description_length: "150",rssmikle_item_description_color: "#666666",rssmikle_item_date: "gl1",rssmikle_timezone: "Etc/GMT",datetime_format: "%b %e, %Y %l:%M %p",item_description_style: "text+tn",item_thumbnail: "crop",item_thumbnail_selection: "auto",article_num: "15",rssmikle_item_podcast: "off",keyword_inc: "",keyword_exc: ""};feedwind_show_widget_iframe(params);})();</script><div style="font-size:10px; text-align:center; "><a href="http://feed.mikle.com/" target="_blank" style="color:#CCCCCC;">RSS Feed Widget</a><!--Please display the above link in your web page according to Terms of Service.--></div><!-- end feedwind code --><!--  end  feedwind code -->
</div>
<% end %>



<br>
<br>

<%= yield %>

</body>



<hr>

</html>