<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/resources/demos/style.css">

</head>
<body>

<div class="jumbotron">
      <div class="container">
        <h1>Onboarding</h1>
        <p> You are in the cause onboarding section. <%= notice %></p>
      </div>
    </div>

<div class="container">

<%= form_for @cause do |f| %>
  <% if @cause.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cause.errors.count, "error") %> prohibited this cause from being saved:</h2>

      <ul>
      <% @cause.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
   <% end %>
  <p>
    Cause Name
    <%= f.text_field(:name) %>
  </p>
  <br>
  <p>
    Contact Email
    <%= f.email_field(:email) %>
  </p>
  <br>
  <p>Paypal ID
    <%= f.text_field(:paypalID) %>
  </p>
  <br>
  <p>
    Address
    <%= f.text_field(:address) %>
  </p>
  <br>
  <p>
    City
    <%= f.text_field(:city) %></p>
    <br>
    <p> State <%= f.text_field(:state) %>
     </p>
     <br>
<p> Zip <%= f.number_field(:zip) %>
  </p>
  <br>
  <p>
    Phone
    <%= f.number_field(:phone) %>
  </p>
  <br>
  <p>
    Cause Split
    <%= f.number_field(:split) %>
  </p>
  <br>
<br>
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>
</div>

<br>
<br>

<%= yield %>

</body>

<hr>

</html>