<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/resources/demos/style.css">

</head>
<body>

<div class="jumbotron">
      <div class="container">
        <h1>Onboarding</h1>
        <p> You are in the retailer onboarding section. <%= notice %></p>
      </div>
    </div>

<div class="container">

<%= render 'form' %>

<br>
<br>

<%= yield %>

</body>

<hr>
<%= link_to 'Home', "/" %> | <%= link_to 'Onboarding', "/onboarding" %> | 
<%= link_to 'Transaction Dashboard', "/transactions" %> | <%= link_to 'Database Admin', "/admin" %>
</div>
</html>