<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/resources/demos/style.css">

</head>
<body>

<div class="jumbotron">
      <div class="container">
        <h1>Buttons</h1>
        <p>Showing buttons for key sections.<%= notice %></p>
      </div>
    </div>

<div class="container">

	<p><a class="btn btn-primary btn-lg btn-block" href="/admin" role="button">Database Administration &raquo;</a></p>
	<p><a class="btn btn-primary btn-lg btn-block" href="/onboarding" role="button">Onboarding &raquo;</a></p>
	<p><a class="btn btn-primary btn-lg btn-block" href="/transactions" role="button">Transaction Dashboard &raquo;</a></p>
	<p><a class="btn btn-primary btn-lg btn-block" href="/transactions/new" role="button">User Transaction Input Form &raquo;</a></p>
	<a class="btn btn-primary btn-lg btn-block" href="/users" role="button">User Dashboard &raquo;</a></p>

<!--  User Account Login/Logout -->
	  <% if user_signed_in? %>
	  User account (<%= current_user.username %>) IS signed in.  
	  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
	    <% else %>
	    User account is NOT signed in.
	    <%= link_to('Login', new_user_session_path)  %>  
	    <% end %><br>
<!-- Admin Account Login/Logout -->
      <% if admin_signed_in? %>
      Admin account (<%= current_admin.email %>) IS signed in. 
      <%= link_to('Logout', destroy_admin_session_path, :method => :delete) %>        
        <% else %>
        Admin account IS NOT signed in.
        <%= link_to('Login', new_admin_session_path)  %>  
        <% end %><br>

</div>

<br>
<br>

<%= yield %>

</body>

<hr>

</html>