<<<<<<< HEAD
<%= form_for @rtransaction do |f| %>
  <p>
    Transaction Amount
    <%= f.text_field :credit_amount %>
  </p>

<%= f.submit %>

<% end %>
=======
<%= form_for @rtransaction, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <%= f.text_field :credit_amount %>
  <%= f.submit "Create" %>
<% end %>

>>>>>>> 7f2dcf42e38fe14b3fe30c681fed8cc534c633ff
        

