<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/resources/demos/style.css">

</head>
<body>

<div class="jumbotron">
      <div class="container">
        <h1>Onboarding</h1>
        <p> You are in the onboarding section.</p>
      </div>
    </div>

<div class="container">
 <%= notice %>
<p>RETAILERS SECTION</p>

<p><%= link_to 'New retailer', "retailers/new" %></p>

<table class="table">
    <thead>
      <tr>
        <th>Retailer Name</th>
        <th>Paypal ID</th>
        <th>Email</th>
        <th>Phone</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @retailers.each do |retailer| %>
        <tr>
          <td><%= retailer.name %></td>
          <td><%= retailer.paypalID %></td>
          <td><%= retailer.contact_email %></td>
          <td><%= retailer.phone %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<p>CAUSES SECTION</p>

<p><%= link_to 'New cause', "causes/new" %></p>

<table class="table">
    <thead>
      <tr>
        <th>Cause Name</th>
        <th>Paypal ID</th>
        <th>Phone</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @causes.each do |cause| %>
        <tr>
          <td><%= cause.name %></td>
          <td><%= cause.paypalID %></td>
          <td><%= cause.phone %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p>USERS SECTION</p>

<p><%= link_to 'New user', "/" %></p>
<!-- NEEDS TO ONBOARD THROUGH DEVISE -->

<table class="table">
    <thead>
      <tr>
        <th>User Name</th>
        <th>Paypal ID</th>
        <th>Cause ID</th>
        <th>Email</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.username %></td>
          <td><%= user.paypalID %></td>
          <td><%= user.cause_id %></td>
          <td><%= user.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
</div>

<%= yield %>

</body>

<hr>

</html>