

<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p></p>

<div class="input-group input-group-lg">
    <span class="input-group-addon" id="sizing-addon1">@</span>
  <%= f.text_field :user_id class: 'form-control', placeholder: 'User Name'%>
</div>

<br>

<div class="input-group input-group-lg">
    <span class="input-group-addon" id="sizing-addon1">$</span>
  <%= f.text_field :amount, class: 'form-control', placeholder: 'Transaction Amount'%>
</div>

<br>

<div class="input-group input-group-lg">
    <span class="input-group-addon" id="sizing-addon1">$</span>
  <%= f.text_field :retailer_id, class: 'form-control', placeholder: 'Retailer'%>
</div>

<br>

<div class="input-group input-group-lg">
    <span class="input-group-addon" id="sizing-addon1">$</span>
  <%= f.text_field :cause_id, class: 'form-control', placeholder: 'Cause'%>
</div>


  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
