<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group input-group-lg">
    <span class="input-group-addon" id="sizing-addon1">ID</span>
  <%= f.text_field :user, class: 'form-control', placeholder: 'Enter your User Name.', type: 'search'%>
  </div>

  <br>

  <div class="input-group input-group-lg">
    <span class="input-group-addon" id="sizing-addon1">$</span>
  <%= f.text_field :amount, class: 'form-control', placeholder: 'Enter the Transaction Amount.'%>
  </div>

  <br>

  <div class="input-group input-group-lg">
    <span class="input-group-addon" id="sizing-addon1">CAUSE</span>
  <%= f.text_field :cause_id, class: 'form-control', placeholder: 'Enter the name of the Cause.'%>
  </div>

  <br>

  <div class="input-group input-group-lg">
    <span class="input-group-addon" id="sizing-addon1">RETAILER</span>
  <%= f.text_field :retailer_id, class: 'form-control', placeholder: 'Enter the name of the Retailer.'%>
  </div>

  <br>

    <%= f.submit %>
  </div>
<% end %>