<!-- LARGE JUMBOTRON PAGE HEADER -->
<div class="jumbotron">
      <div class="container">
        <h1>Transaction View</h1>
        <p>Editing the current transaction. </p>
      </div>
    </div>
<!-- END OF LARGE JUMBOTRON -->
<div class="container">
<p id="notice"><%= notice %></p>
<!-- TRANSACTION RECEIPT IMAGE -->
<% if @transaction.image? %>
<%= image_tag @transaction.image.url(:medium) %>
<br>
<%= link_to 'Show Full Size Image', @transaction.image.url %>
<% end %>
<br><br>
<!-- END OF TRANSACTION RECEIPT IMAGE -->
<!-- TRANSACTION DETAILS -->
  <strong>User:</strong>
  <%= @transaction.user.username %>
<br>
 <strong>Transaction Amount:</strong>
  <%= number_to_currency(@transaction.amount) %>
<br>
  <strong>Date:</strong>
  <%= @transaction.transaction_date %>
<br>
  <strong>Retailer:</strong>
  <%= @transaction.retailer.name %>
<br>
  <strong>Retailer Split:</strong>
  <%= @transaction.retailer_split %>
<br>
  <strong>Cause:</strong>
  <%= @transaction.cause.name %>
<br>
  <strong>Cause Split:</strong>
  <%= @transaction.cause_split %>
<br>
<strong>Transaction Fee:</strong>
  <%= @transaction.fee_split %>
<br>
  <strong>Date:</strong>
  <%= @transaction.transaction_date %>
<br>
  <strong>Record Created At:</strong>
  <%= @transaction.created_at %>
<br>
<strong>Transaction Summary:</strong><br>
 <%= number_to_currency(@transaction.fee_split * @transaction.amount) %> of this transaction will go to Dig In, <%= number_to_currency(@transaction.retailer_split * @transaction.amount) %> of this transaction will go to <%= @transaction.user.username %> for cash back, <%= number_to_currency(@transaction.cause_split * @transaction.amount) %> of this transaction will go to the cause (<%= @transaction.cause.name %>). 
 <br>

<br><br>
<!-- END OF TRANSACTION DETAILS -->
<!-- EDIT FORM FOR TRANSACTION -->
<%= form_for @transaction do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>
      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
   <% end %>
  <p>Transaction Date
  <%= f.date_select(:transaction_date) %></p>
  <br>
  <p>Transaction Amount
  <%= text_field(:transaction, :amount) %></p>
  <br>
  Cause Name <%= f.select(:cause_id) do %>
  <%= options_from_collection_for_select(Cause.all, :id, :name, @transaction.cause_id) %>
  <% end %><br>
  Cause Split <%= text_field(:transaction, :cause_split) %>
  <br>
  <br>
  Retailer Name <%= f.select(:retailer_id) do %>
  <%= options_from_collection_for_select(Retailer.all, :id, :name, @transaction.retailer_id) %>
  <% end %><br>
  Retailer Split <%= text_field(:transaction, :retailer_split) %>
  <br>
  <br>
  Transaction Fee <%= text_field(:transaction, :fee_split) %>
  <br>
  <br>
  <p>Upload Receipt Image <%= f.file_field :image %></p>
  <br>
  <br>
  Transaction Status <%= f.select(:status) do %>
  <%= options_for_select([['Approved', "Approved"], ['Not Reviewed', "Not Reviewed"]], 'Not Reviewed') %>
  <% end %>
  <br>
  <br>
    <div class="actions">
    <%= f.submit "Submit Changes" %>
    </div>
<% end %>
<!-- END OF EDIT FORM FOR TRANSACTION -->
</div>
<hr>
<div class="container">
  <%= link_to 'Transactions Home', transactions_path %>
</div>