<div class="jumbotron">
      <div class="container">
        <h1>Transaction Form</h1>
        <p>Editing the current transaction. </p>
      </div>
    </div>

<div class="container">
<p>
  	<strong>Username:</strong>
  	<%= @transaction.user.username %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @transaction.approved %>
</p>

<%= render 'form' %>

<hr>
<div class="container">
<%= link_to 'Show', @transaction %> |
<%= link_to 'Back', transactions_path %>
</div>
