<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery UI Autocomplete - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <STYLE>
    .ui-autocomplete.ui-widget {
      font-family: Verdana,Arial,sans-serif;
      font-size: 10px;
    }
  </STYLE>

</head>
<body>
<!-- // <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> -->

<div class="jumbotron">
      <div class="container">
        <h1>Transaction View</h1>
        <p>Creating your transaction. </p>
      </div>
    </div>

<div class="container">
<p id="notice"><%= notice %></p>

<%= form_for @transaction do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
   <% end %>

  <p>
    User Name
    <%= f.select(:user_id) do %>
    <%= options_from_collection_for_select(User.all, :id, :username) %>
    <% end %>
  </p>

<br>

<p>
    Transaction Date
    <%= f.date_select(:transaction_date) %>
  </p>

<br>

  <p>
    Transaction Amount
    <%= text_field(:transaction, :amount) %>
  </p>

<br>

  <p>
    Cause Name <input id="cause_search", type="text", name="cause_name">
  </p>

<br>
 <div>
  <p>
    Retailer Name: <input id="retailer_search", type="text", name="retailer_name">
  </p>
 </div>

<br>

  <p>
    Upload Receipt Image
    <%= f.file_field :image %>
  </p>

<br>
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>

<%= javascript_tag "var all_retailer_names = #{Retailer.pluck(:name)}" %>
<%= javascript_tag "var all_cause_names = #{Cause.pluck(:name)}" %>

<script language="javascript" type="text/javascript">
  $(function() {
    $( "#retailer_search" ).autocomplete({
      source: all_retailer_names
    });
  });
  $(function() {
    $( "#cause_search" ).autocomplete({
      source: all_cause_names
    });
  });
</script>
</body>
</html>

