<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <STYLE>
    .ui-autocomplete.ui-widget {
      font-family: Verdana,Arial,sans-serif;
      font-size: 14px;
    }
  </STYLE>

</head>
<body>
<!-- // <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> -->


<div class="jumbotron">
      <div class="container">
        <h1>Transaction View</h1>
        <p> Hello <%= current_user.username %>. <%= notice %>  Creating your transaction.</p>
      </div>
    </div>

<div class="container">
<%= form_for @transaction do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>
      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
   <% end %>
<p>
    Transaction Date
    <%= f.date_select(:transaction_date) %>
  </p>
<br>
  <p>
    Transaction Amount
    <%= text_field(:transaction, :amount) %>
  </p>
  <br>
  <p>
    Retailer Name <input id="retailer_search", type="text", name="retailer_name">
  </p>
<br>
<p>Your account is set to donate to: <b><%= @transaction.cause.name %></b>
<br><br>
  <p>
    Upload Receipt Image
    <%= f.file_field :image %>
  </p>
<br>
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>
<br>
<hr>
You are logged in as:  <%= current_user.username %> (User ID:  <%= current_user.id %>)
<%= javascript_tag "var all_retailer_names = #{Retailer.pluck(:name)}" %>
<%= javascript_tag "var all_cause_names = #{Cause.pluck(:name)}" %>
<script language="javascript" type="text/javascript">
  $(function() {
    $( "#retailer_search" ).autocomplete
    ({source: all_retailer_names});
  });
  $(function() {
    $( "#cause_name" ).autocomplete({
      source: all_cause_names
    });
  });
</script>
<%= render 'devise/menu/login_items' %>
</body>
</html>
