<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<div class="jumbotron">
      <div class="container">
        <h1>Transaction View</h1>
        <p>Creating your transaction. </p>
      </div>
    </div>

<div class="container">
<p id="notice"><%= notice %></p>

<%= form_for @transaction do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
   <% end %>

  <p>
    User Name
    <%= f.select(:user_id) do %>
    <%= options_from_collection_for_select(User.all, :id, :username) %>
    <% end %>
  </p>

<br>

<p>
    Transaction Date
    <%= f.date_select(:transaction_date) %>
  </p>

<br>

  <p>
    Transaction Amount
    <%= text_field(:transaction, :amount) %>
  </p>

<br>

  <p>
    Cause Name
    <%= f.select(:cause_id) do %>
    <%= options_from_collection_for_select(Cause.all, :id, :name) %>
    <% end %>
  </p>

<br>
  <p>
    Retailer Name: <input id="retailer_search", oninput="showRetailers()", onblur="cTimeout = setTimeout('closeAutosuggest();');", type="text", name="retailer_name">
  </br>
    <span id="retailer_suggestions"></span>
  </p>

<br>

  <p>
    Upload Receipt Image
    <%= f.file_field :image %>
  </p>

<br>
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>

<%= javascript_tag "var all_retailer_names = #{Retailer.pluck(:name)}" %>

<script language="javascript" type="text/javascript">

  function showRetailers() {
      var retailer_search = document.getElementById("retailer_search").value
      var retailer_list = all_retailer_names.filter(function(retailer) { 
        return retailer.indexOf(retailer_search) > -1;
      });

      console.log(retailer_list)
      var retailer_html = ""
      for (var i=0; i < retailer_list.length; i++) {
          retailer_html += '<div class="autosuggest_item" onclick="setRetailer(' + "'" + retailer_list[i] + "'" + ')">'
          retailer_html += retailer_list[i]
          retailer_html += '</div>'
          // retailer_html += '<br/>'
      }
      document.getElementById("retailer_suggestions").innerHTML = retailer_html;
  }

  function closeAutosuggest() {
    $("div").remove(".autosuggest_item");
  }

  function setRetailer(retailer) {
    clearTimeout(cTimeout);
    document.getElementById("retailer_search").value = retailer;
    closeAutosuggest();
  }

</script>
