<div class="jumbotron">
      <div class="container">
        <h1>Transaction Ticket</h1>
        <p><p id="notice"><%= notice %></p><p>Showing the current transaction. </p>
        <p><a class="btn btn-primary btn-lg btn-block" href="/transactions/new" role="button">Create new transaction &raquo;</a></p>
        
      </div>
    </div>

<div class="container">


<% if @transaction.image? %>
<%= image_tag @transaction.image.url(:medium) %>
<br />
<%= link_to 'show original', @transaction.image.url %>
<% end %>

<p>
  <strong>Date:  </strong><%= @transaction.transaction_date %>
</p>

<p>
  <strong>User:  </strong><%= @transaction.user.username %>
</p>

<p>
 <strong>Transaction Amount:  </strong><%= number_to_currency(@transaction.amount) %>
</p>

<p>
  <strong>Retailer:  </strong><%= @transaction.retailer.name %>
</p>

<p>
  <strong>Cause:  </strong><%= @transaction.cause.name %>
</p>

<!-- DESCRIPTION of cause splits -->
<p>
  <strong>When this transaction is approved...<br></strong>
  You will receive <%= number_to_currency(@transaction.retailer_split * @transaction.amount) %> for this purchase from <%= @transaction.retailer.name %>.<br>
  The cause (<%= @transaction.cause.name %>) will receive <%= number_to_currency(@transaction.cause_split * @transaction.amount) %>.
</p>

</div>

<hr>

<div class="container">

Create another <%= link_to 'New', new_transaction_path(@transaction) %> transaction.

<br>

<!-- 
<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
 -->
</div>