

<div class="jumbotron">
      <div class="container">
        <h1>Reports</h1>
        <p>Showing retailer balances.</p>
      </div>
    </div>

<div class="container">
  <%= notice %>
  <div class="table-responsive">
    <table class="table">
    <thead>
    <tr><th> Retailer ID <th> Retailer Name <th> PaypalID <th> Total Debits <th> Total Credits <th> Balance 
    <% @retailer_balances.each do |item| %>
      <tr>
        <% id = item.retailer_id %>
        <% name = item.retailer.name %>
        <% paypal_id = item.retailer.paypalID %>
        <% total_credits = item.total_credits || 0 %>
        <% total_debits = item.total_debits || 0 %>
        <% balance = item.balance %>
        <td><%= id %><td><%= name %><td><%= paypal_id %><td><%= number_to_currency(total_debits) %><td><%= number_to_currency(total_credits) %><td><%= number_to_currency(balance) %>
      </tr>
  </div>
  <% end %>
  </tbody>
  </table>
</div>

<br>
<br>
<hr>

<%= yield %>

</body>



</html>



